@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --mainFont: "Bebas Neue", sans-serif;
  --alternativeFont: "Montserrat", sans-serif;
  --pWeFont: 400;
  --subFont: 300;
  --btnWFont: 700;
  --mainFontColor: #b81828;
  --alternativeFontCOlor: #303030;
}
body {
  background-color: #f2f2f2;
}
/* First mobile */
header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-around;
  padding: 0.8rem 1rem 2rem 1rem;
  align-items: center;
  width: 100%;
  top: 0;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.884);
  border-bottom: 1px solid var(--mainFontColor);
  z-index: 3;
}
header > picture > img {
  width: 4rem;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 1rem;
  font-family: var(--alternativeFont);
  font-weight: var(--btnWFont);
}
header > nav > a {
  text-decoration: none;
  color: var(--alternativeFontCOlor);
  transition: 0.2s all ease-in;
}
header > nav > a:hover {
  text-decoration: none;
  color: var(--mainFontColor);
  transform: scale(1.1);
}
main {
  margin-top: 9rem;
}
/*Presentation section*/
.presentation-history {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}
.presentation-history > picture,
.presentation-history > picture > img {
  width: 100%;
}
.presentation-description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.presentation-description > h2 {
  font-family: var(--mainFont);
  font-size: 4rem;
  color: var(--mainFontColor);
  line-height: 3.5rem;
}
.presentation-description > p {
  color: var(--alternativeFontCOlor);
  font-family: var(--alternativeFont);
  width: 80%;
  margin: auto;
}
.presentation-history > form > button {
  width: 12rem;
  height: 2rem;
  border: 1px solid var(--mainFontColor);
  font-family: var(--alternativeFont);
  font-weight: var(--btnWFont);
  color: var(--mainFontColor);
  transition: 0.2s all ease-in;
  cursor: pointer;
}
.presentation-history > form > button:hover {
  transform: scale(1.05);
  background-color: var(--mainFontColor);
  font-family: var(--alternativeFont);
  font-weight: var(--btnWFont);
  color: #f2f2f2;
}
/*Video section*/
.video {
  margin: 2rem 0;
  display: flex;
}
.video > iframe {
  width: 100%;
  height: 50vw;
}
/*Members section*/
.memebers-resume {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.memebers-resume h2 {
  font-family: var(--mainFont);
  font-size: 4rem;
  color: var(--mainFontColor);
  line-height: 3.5rem;
  margin: 1rem;
}

.mb {
  display: flex;
  background-color: white;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  width: 280px;
  box-shadow: 2px 4px 5px 0px gray;
  border-radius: 15px;
}
.bck-card {
  width: 100%;
  height: 7rem;
  background-color: var(--mainFontColor);
  border-radius: 1rem 1rem 0 0;
  color: white;
  font-family: var(--mainFont);
  font-size: 6rem;
}
.img-mb img {
  margin-top: -4rem;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid var(--mainFontColor);
}
.mb h3 {
  font-family: var(--mainFont);
  font-size: 2.5rem;
  color: var(--mainFontColor);
}
.rol {
  font-family: var(--alternativeFont);
  font-style: italic;
  color: grey;
  margin-bottom: 0.5rem;
}
.artist-resume {
  font-family: var(--alternativeFont);
  font-weight: var(--pWeFont);
  width: 90%;
}
.mb > form > button {
  margin: 1rem 0;
  width: 12rem;
  height: 2rem;
  border: 1px solid var(--mainFontColor);
  font-family: var(--alternativeFont);
  font-weight: var(--btnWFont);
  color: var(--mainFontColor);
  transition: 0.2s all ease-in;
  border-radius: 1rem;
  cursor: pointer;
}
.mb > form > button:hover {
  transform: scale(1.05);
  background-color: var(--mainFontColor);
  font-family: var(--alternativeFont);
  font-weight: var(--btnWFont);
  color: #f2f2f2;
}
.icons {
  margin: 0.5rem 0 1rem 0;
  display: flex;
  justify-content: center;
  gap: 1.7rem;
  width: 90%;
}
.icons > article {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icons > article > h3 {
  font-size: 1rem;
  color: grey;
}
.icons > article > p {
  font-family: var(--alternativeFont);
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: rgba(128, 128, 128, 0.884);
}
.pic-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #b81828;
  transition: all 0.2s ease-in;
}
.pic-icons > img {
  width: 70%;
  height: 70%;
}
.pic-icons:hover {
  transform: scale(1.2);
}
/*Discography*/
.discography h2 {
  font-family: var(--mainFont);
  font-size: 4rem;
  color: var(--mainFontColor);
  line-height: 3.5rem;
  text-align: center;
  margin: 2rem;
}
.mixImg {
  width:90vw;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.mixImg>picture , .mixImg>article{
  width: 100%;
}
.mixImg>article>picture>img{
  width: 100%;
}
.mixImg h3{
  color: grey;
  font-family: var(--mainFont);
}
.mixImg p {
  font-family: var(--alternativeFont);
  font-weight: var(--subFont);
}
.mixImg>article  {
  transition: 0.2s all ease-in; 
  cursor: pointer;
}
.mixImg>article:hover  {
  transform: scale(1.1);
}
/*Contacto*/
.contact {
  margin: 3rem 0;
  background-image: url(../Assets/concert-316464_1280.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 30vh;
}
.contact h2 {
  padding: 1rem;  
  font-family: var(--mainFont);
  font-size: 4rem;
  color: white;
  line-height: 3.6rem;
  text-align: center;
}
.contact>article > form {  
  background-color: rgba(255, 255, 255, 0.671);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 8rem;
  margin: 2rem auto;
  padding: 0.5rem;
  gap: 1rem;
}
#inputEmail{
  border-radius: 1rem;
  width: 70%;
  height: 2rem;
  padding: 0.3rem;
  border: 1px solid var(--mainFontColor);
}
#email-register-btn {  
  width: 10rem;
  height: 2rem;
  border: none;
  font-family: var(--alternativeFont);
  font-weight: var(--btnWFont);
  color: var(--mainFontColor);
  transition: 0.2s all ease-in;
  border-radius: 1rem;
  background-color: var(--mainFontColor);
  color: white;
  cursor: pointer;
}
#email-register-btn:hover {
  background-color: white;
  transform: scale(1.07);
  color: var(--mainFontColor);
}
/* Footer */
footer {
  background-color: var(--mainFontColor);
  padding: 2rem 0;
}
footer>ul{
  width: 70%;
  display: flex;
  list-style: none;
  align-items: center;
  margin: auto; 
  justify-content: space-between;
}
footer >ul img {
  width: 2.5rem;
  transition: all 0.2s ease-in;
}
footer >ul img:hover {
  transform: scale(1.2);
}
.addInfo{
  text-align: center;
}
.addInfo>picture{
  margin: 1rem;
  display: flex;
  justify-content: center;
}
.addInfo>picture>img{
  width: 30%;
}
.addInfo p, a {
  font-family:var(--alternativeFont);
  color: white;
}

@media screen and (min-width:578px) {
  header {
    flex-direction: row;
  }

  /* video */
  .video > iframe {
    width: 100%;
    height: 70vw;
  }
  
}