@import url(../General/header.css);
/*section band initial mbm */
@import url(../historyPage/band-initialmembers.css);
/*section band influences*/
@import url(../historyPage/band-influences.css);
/*Section first albums*/
@import url(../historyPage/first-albums.css);
/*Section famous*/
@import url(../historyPage/famous.css);

@import url(../General/footer.css);

main {
  margin-top: 12rem;
  margin-bottom: 4rem;
}
main h2 {
  text-align: center;
  font-size: 4rem;
  margin: 2rem;
  line-height: 3.5rem;
}
main p {
  text-align: center;
  width: 80%;
  margin: auto;
}
@media screen and (min-width: 400px) {
  main {
    margin-top: 10rem;
  }
}
@media screen and (min-width: 578px) {
  main {
    margin-top: 8rem;
  }
}
@media screen and (min-width: 768px) {
  main > h2 {
    font-size: 8vw;
  }
  main p {
    font-size: 1.5vw;
    margin-bottom: 4vw;
    width: 70%;
  }
}
