@import url(../General/header.css);
@import url(../General/footer.css);
main {
  margin-top: 12rem;
  margin-bottom: 4rem;
}
main h2 {
  text-align: center;
  font-size: 4rem;
  margin: 2rem;
  line-height: 3.5rem;
}
main p {
  text-align: center;
  width: 80%;
  margin: auto;
}
@media screen and (min-width: 400px) {
  main {
    margin-top: 10rem;
  }
}
@media screen and (min-width: 578px) {
  main {
    margin-top: 8rem;
  }
}
@media screen and (min-width: 768px) {
  main > h2 {
    font-size: 8vw;
  }
  main p {
    font-size: 1.5vw;
    margin-bottom: 4vw;
    width: 70%;
  }
}
.mix-discography > p,
.recent-albums-section > p,
.best-records > p {
  margin-bottom: 2rem;
}
.mix-discography > article {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}
.mix-discography > article > picture > img {
  width: 100%;
}
.recent-albums {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
.recent-albums > li {
  text-align: left;
  width: 35%;
  text-decoration: none;
}
.recent-albums > li > a>picture > img {
  width: 100%;
}
.recent-albums > li >a > h3 {
  font-family: var(--mainFont);
  font-size: 1.5rem;
  color: grey;
}
.recent-albums > li >a> p {
  text-align: left;
  margin: 0;
}
.best-records {
  text-align: center;
}
.best-records > iframe {
  margin: 0 auto;
  width: 20rem;
  height: 25rem;
  border: none;
}
@media screen and (min-width: 422px) {
  main {
    margin: 10rem 0 3rem 0;
  }
}
@media screen and (min-width: 768px) {
  main {
    margin: 8rem 0 3rem 0;
  }
  .mix-discography > p,
  .recent-albums-section > p,
  .best-records > p {
    margin-bottom: 2rem;
    width: 40%;
  }
  .mix-discography > article {
    width: 80%;
    margin: auto;
  }
  .recent-albums > li {
    width: 18%;
  }
  .best-records > iframe {
    width: 40%;
    height: 70vh;
  }
}
